services:
  web:
    build: .
    container_name: catcam_web
    command: uvicorn src.main:app --host 0.0.0.0 --port 2121 --proxy-headers --forwarded-allow-ips='*'
    ports:
      - "2121:2121"
    volumes:
      - /home/davis/Box:/data/box
      - ./src:/app/src
      - /sys/class/thermal:/sys/class/thermal:ro
      - catcam_config:/config
    restart: unless-stopped
    environment:
      - TZ=America/Chicago

  recorder:
    build: .
    container_name: catcam_recorder
    command: python src/recorder.py
    volumes:
      - /home/davis/Box:/data/box
      - ./src:/app/src
      - catcam_config:/config
    restart: unless-stopped
    environment:
      - TZ=America/Chicago

  webhook:
    build:
      context: .
      dockerfile: Dockerfile.webhook
    container_name: catcam_webhook
    command: -verbose -hooks=/etc/webhook/hooks.json -hotreload
    ports:
      - "9000:9000"
    volumes:
      - ./webhook.json:/etc/webhook/hooks.json
      - ./scripts:/var/scripts
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/app
      - ~/.ssh:/root/.ssh:ro # Mount SSH keys for git fetch
    restart: unless-stopped

volumes:
  catcam_config:
