name: Deploy to CatCam

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Webhook
        run: |
          curl -X POST \
            -H "Content-Type: application/json" \
            -H "X-Hub-Signature: sha1=$(echo -n \"$SECRET\" | openssl sha1 -hmac \"$SECRET\" | sed 's/^.* //')" \
            http://${{ secrets.CATCAM_HOST }}:9000/hooks/deploy
        env:
          SECRET: ${{ secrets.WEBHOOK_SECRET }}
